*{
    padding: none;
    margin: none;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(13,134,92);
    overflow-x: hidden;
    
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(248, 248, 248, 0.502);
    /* display: none; */
}

.nav-search{
    margin-top: 1.5rem;
}
li{
    text-decoration: none;
    list-style-type: none;
    padding-top: 0.8rem;
    padding-right: 2rem;
}

button{
    border: 1px solid rgb(13,134,92);
    border-radius: .2rem;
    background-color: white;
    width: 5rem;
    height: 1.5rem;
}

button:hover{
    background-color: rgb(13,134,92);
    color: white;
    box-shadow: 0 4px 5px rgba(8, 76, 52, 0.3);
}

.preview-btn{
    width: 8rem;
    height: 2.2rem;
    font-size: 1.2rem;
}

input{
    border: 1px solid rgb(13,134,92);
    border-radius: .2rem;
    width: 10rem;
    height: 1.5rem;
    text-align: center;
    color: rgb(13,134,92);
}


input:focus{
    box-shadow: 0 4px 5px rgba(8, 76, 52, 0.3);  
    outline: none;
}

.nav-item ul{
display: flex;
    
}

.nav-item a{
    color:rgb(13,134,92) ;
    font-size: 1rem;
    text-decoration: none;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
   background-color: rgba(206, 244, 231, 0.502); 
   width: 60vw;
   height: 80vh;
   display: none;
}

.sidebar img{
    margin-left: 1rem;
}

#sideItem{
    margin-left: 1rem;
}

#sideItem a{
    color:rgb(13,134,92) ;
    font-size: 1rem;
    text-decoration: none;
}

#sideItem li{
 font-size: 2rem;

}

#recipeContainer{
    background-color:rgb(13,134,92);
    margin: 2rem;
    color: bisque;
    border-radius: 1rem;
    box-shadow: 0 4px 5px rgba(8, 76, 52, 0.3);  
    display: flex;
    flex-direction: column;
    width: 50vw;
    
   
}
#recipeContainer h2{
    color: bisque;
    text-align: start;
    margin-left: 2rem;
}
#recipeContainer div{
    margin: 1rem;
  margin-left: 2rem;
}
.search-space{
    width: 10rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

#recipeContainer img{
  border-radius: 20rem;
  width: 10vw;
 /* margin-left: 2rem; */
}

#view-head{
    display: flex;
    flex-direction: row;
}

.search-btn{
    width: 4rem;
    margin-left: 1rem;
}

h1, h2 {
    text-align: center;
    color: rgb(13,134,92);
    text-transform: uppercase;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
.recipe-card {
    box-shadow: 0 4px 5px rgba(8, 76, 52, 0.3);  
    padding: 1rem;
    border-radius: 0.6rem;
}

.recipe-card img {
    width: 100%;
    border-radius: 0.6rem;
}

/* Recipie page styling */
#RecipeContainer{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 5px rgba(8, 76, 52, 0.3); 
    width: 60vw; 
    border-radius: 1rem;
    margin: 2rem;
}

.card button{
    margin-bottom: 1rem;
}

@media(max-width: 700px){
    #RecipeContainer{
        flex-direction: column;
    }

    #RecipeContainer div{
        margin-left: 2rem;
    }
}
#RecipeContainer img {
    width:50vw;
    height: 70vh;
    border-radius: 0.6rem;
    margin: 1rem;
}
.r-btn{
    display: flex;
    width: 6rem;
    height: 2rem;
    margin: 1rem;
}
.v-btn{
    display: flex;
}
#saveBtn,
#watchBtn{

    width: 8rem;
    height: 2rem;
    margin: 1rem;
}

/* saved page styling */
#savedRecipesContainer{
display: grid;
grid-template-columns: 30% 30% 30%;
gap: 2rem;

}

.saved-recipe{
    margin: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0 4px 5px rgba(8, 76, 52, 0.3);
    width: 100%;
}

.saved-recipe img{
    width: 25vw;
    border-radius: 0.6rem;
    margin-top: 1rem;
}

.saved-recipe div{
    margin-left: 2rem;
}

.save-btns button{
    width: 8rem;
    height: 2rem;
    margin-bottom: 2rem;
  
}

#hamburgerMenu{
background-color: rgba(248, 248, 248, 0.502);
display: none;
}

#hamburgerMenu img{
    width: 4vw;
    float: right;
    margin: 1rem;
}

@media(max-width:855px){
    .navbar{
        display: none;
    }

    #hamburgerMenu{
        display: block;
    }

}

@media(max-width:310px){
    .search-space{
        width: 5rem;
        margin-left:.8rem;
        height: 1.2rem;
    }
    
    .search-btn{
        width: 2.3rem;
       font-size: .5rem;
       margin: 0;
       height: 1rem;
    }
   

}